{% if krb5kdc_dbdefaults is defined %}
{% for dbdefaults in krb5kdc_dbdefaults %}
{% if loop.first %}
{% if dbdefaults.ldap_kerberos_container_dn is defined %}
    ldap_kerberos_container_dn          = {{ dbdefaults.ldap_kerberos_container_dn }}
{% endif %}
{% if dbdefaults.ldap_kdc_dn is defined %}
    ldap_kdc_dn                         = {{ dbdefaults.ldap_kdc_dn }}
{% endif %}
{% if dbdefaults.ldap_kdc_sasl_authcid is defined %}
    ldap_kdc_sasl_authcid               = {{ dbdefaults.ldap_kdc_sasl_authcid }}
{% endif %}
{% if dbdefaults.ldap_kdc_sasl_authzid is defined %}
    ldap_kdc_sasl_authzid               = {{ dbdefaults.ldap_kdc_sasl_authzid }}
{% endif %}
{% if dbdefaults.ldap_kdc_sasl_mech is defined %}
    ldap_kdc_sasl_mech                  = {{ dbdefaults.ldap_kdc_sasl_mech }}
{% endif %}
{% if dbdefaults.ldap_kdc_sasl_realm is defined %}
    ldap_kdc_sasl_realm                 = {{ dbdefaults.ldap_kdc_sasl_realm }}
{% endif %}
{% if dbdefaults.ldap_kadmind_dn is defined %}
    ldap_kadmind_dn                     = {{ dbdefaults.ldap_kadmind_dn }}
{% endif %}
{% if dbdefaults.ldap_kadmind_sasl_authcid is defined %}
    ldap_kadmind_sasl_authcid           = {{ dbdefaults.ldap_kadmind_sasl_authcid }}
{% endif %}
{% if dbdefaults.ldap_kadmind_sasl_authzid is defined %}
    ldap_kadmind_sasl_authzid           = {{ dbdefaults.ldap_kadmind_sasl_authzid }}
{% endif %}
{% if dbdefaults.ldap_kadmind_sasl_mech is defined %}
    ldap_kadmind_sasl_mech              = {{ dbdefaults.ldap_kadmind_sasl_mech }}
{% endif %}
{% if dbdefaults.ldap_kadmind_sasl_realm is defined %}
    ldap_kadmind_sasl_realm             = {{ dbdefaults.ldap_kadmind_sasl_realm }}
{% endif %}
{% if dbdefaults.ldap_service_password_file is defined %}
    ldap_service_password_file          = {{ dbdefaults.ldap_service_password_file }}
{% endif %}
{% if dbdefaults.ldap_servers is defined %}
    ldap_servers                        = {{ dbdefaults.ldap_servers }}
{% endif %}
{% if dbdefaults.ldap_conns_per_server is defined %}
    ldap_conns_per_server               = {{ dbdefaults.ldap_conns_per_server }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
