[kdcdefaults]
{% include 'kdcdefaults.conf.j2' %}


[realms]
{% include 'realms.conf.j2' %}


[dbmodules]
{% include 'dbmodules.conf.j2' %}


[dbdefaults]
{% include 'dbdefaults.conf.j2' %}


[logging]
{% include 'logging.conf.j2' %}

[otp]
{% include 'otp.conf.j2' %}